**/.idea
*~
*.swp
*.o
*.so
build
dist
*.egg-info/

dlib/image_processing/scan_fhog_pyramid.h.bkp
dlib/image_processing/scan_fhog_pyramid.h.parallel
examples/3d_point_cloud_ex
examples/CMakeCache.txt
examples/CMakeFiles/
examples/Makefile
examples/assignment_learning_ex
examples/bayes_net_ex
examples/bayes_net_from_disk_ex
examples/bayes_net_gui_ex
examples/bridge_ex
examples/bsp_ex
examples/cmake_install.cmake
examples/compress_stream_ex
examples/config_reader_ex
examples/custom_trainer_ex
examples/dir_nav_ex
examples/dlib_build/
examples/dnn_face_recognition_ex
examples/dnn_imagenet_ex
examples/dnn_imagenet_train_ex
examples/dnn_inception_ex
examples/dnn_introduction2_ex
examples/dnn_introduction_ex
examples/dnn_metric_learning_ex
examples/dnn_metric_learning_on_images_ex
examples/dnn_mmod_dog_hipsterizer
examples/dnn_mmod_ex
examples/dnn_mmod_face_detection_ex
examples/dnn_mmod_find_cars2_ex
examples/dnn_mmod_find_cars_ex
examples/dnn_mmod_train_find_cars_ex
examples/empirical_kernel_map_ex
examples/face_detection_ex
examples/face_landmark_detection_ex
examples/fhog_ex
examples/fhog_object_detector_ex
examples/file_to_code_ex
examples/graph_labeling_ex
examples/gui_api_ex
examples/hough_transform_ex
examples/image_ex
examples/integrate_function_adapt_simp_ex
examples/iosockstream_ex
examples/kcentroid_ex
examples/kkmeans_ex
examples/krls_ex
examples/krls_filter_ex
examples/krr_classification_ex
examples/krr_regression_ex
examples/learning_to_track_ex
examples/least_squares_ex
examples/linear_manifold_regularizer_ex
examples/logger_custom_output_ex
examples/logger_ex
examples/logger_ex_2
examples/matrix_ex
examples/matrix_expressions_ex
examples/max_cost_assignment_ex
examples/member_function_pointer_ex
examples/mlp_ex
examples/model_selection_ex
examples/mpc_ex
examples/multiclass_classification_ex
examples/multithreaded_object_ex
examples/object_detector_advanced_ex
examples/object_detector_ex
examples/one_class_classifiers_ex
examples/optimization_ex
examples/parallel_for_ex
examples/pipe_ex
examples/pipe_ex_2
examples/quantum_computing_ex
examples/queue_ex
examples/random_cropper_ex
examples/rank_features_ex
examples/regression_test.pdf
examples/running_stats_ex
examples/rvm_ex
examples/rvm_regression_ex
examples/sequence_labeler_ex
examples/sequence_segmenter_ex
examples/server_http_ex
examples/server_iostream_ex
examples/shape_predictor_5_face_landmarks.dat
examples/shape_predictor_5_face_landmarks.dat.bz2
examples/shape_predictor_68_face_landmarks.dat
examples/sockets_ex
examples/sockstreambuf_ex
examples/sp.dat
examples/sp.rotation_aug.dat
examples/std_allocator_ex
examples/surf_ex
examples/svm_c_ex
examples/svm_ex
examples/svm_pegasos_ex
examples/svm_rank_ex
examples/svm_sparse_ex
examples/svm_struct_ex
examples/svr_ex
examples/thread_function_ex
examples/thread_pool_ex
examples/threaded_object_ex
examples/threads_ex
examples/timer_ex
examples/train_object_detector
examples/train_shape_predictor_ex
examples/using_custom_kernels_ex
examples/video_tracking_ex
examples/webcam_face_pose_ex
examples/xml_parser_ex
install/
sftp-config.json

